.navbar-collapse {
    flex-grow: 0
}
body{
    height: 100vh;
}
section {
    position: relative;
}
#img-section_1{
    position: relative;
    width: 100%;
    filter: brightness(0.5);
    
}
#call-to-action {
    color: white;
    position: absolute;
    right: 10%;
    bottom: 20%;
    text-align: right;
    max-width: 30rem;
}
.etiqueta {
    padding: 0 0.5rem 0.2rem;
    font-weight: 600;
    font-size: 0.9rem;
}
footer ul li{
    list-style: none;
    display: inline;
    margin: 2rem 1rem;
}
footer ul li a{
    text-decoration: none;
}
.descuento{
    font-weight: bold;
}
.container-descuento{
    max-width: 620px;
    margin: auto;
}
.text-condicion{
    font-size: .9rem;
    color: gray;
}
footer{
    background-image: linear-gradient(to right, #1f3744 , #1f5270);
    position: fixed;
    bottom: 0px;
    width: 100%;
}