nav{
    background-color: #343a40;
}
.navbar-collapse {
    flex-grow: 0
}

section {
    position: relative;
}
#img-section_1{
    position: relative;
    width: 100%;
    filter: brightness(0.5);
    
}
#call-to-action {
    color: white;
    position: absolute;
    right: 10%;
    bottom: 20%;
    text-align: right;
    max-width: 30rem;
}
.etiqueta {
    padding: 0 0.5rem 0.2rem;
    font-weight: 600;
    font-size: 0.9rem;
}
.descuento{
    font-weight: bold;
}

.text-condicion{
    font-size: .9rem;
    color: gray;
}
footer {
    background-image: linear-gradient(to right, #1f3744 , #1f5270);
    color: white;
}

footer ul li{
    list-style: none;
    display: inline;
    margin: 2rem 1rem;
}
footer ul li a{
    text-decoration: none;
}
.container-descuento{
    max-width: 620px;
    min-height: calc(100vh - 185px);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
